* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

section {
  width: 70%;
  height: 70%;
  background-color: antiquewhite;
  display: flex;
  flex-direction: row;
  align-items: center;
}

section div {
  height: 100px;
  font-size: 2rem;
  color: gray;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}
section div:nth-child(1) {
  background-color: red;
  flex: 1;
}
section div:nth-child(2) {
  background-color: orange;
  flex: 1;
}
section div:nth-child(3) {
  background-color: yellow;
  flex: 1;
  align-self: flex-start;
}
section div:nth-child(4) {
  background-color: green;
  flex: 1;
}
section div:nth-child(5) {
  background-color: blue;
  flex: 1;
}
section div:nth-child(6) {
  background-color: indigo;
  flex: 3;
}
