* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

section {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-areas:
    "header header header header"
    "sidebar main main aside"
    "footer footer nav nav";
  gap: 20px;
}

section div {
  font-size: 2rem;
  color: gray;
  font-weight: bold;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: grid;
  place-items: center;
}
section div:nth-child(1) {
  background-color: red;
  grid-area: header;
  /* grid-column-start: 1; */
  /* grid-column-end: 4; */
  /* grid-column: 1 / 3; */
}
section div:nth-child(2) {
  background-color: orange;
  grid-area: sidebar;
}
section div:nth-child(3) {
  background-color: yellow;
  grid-area: aside;
}
section div:nth-child(4) {
  background-color: green;
  grid-area: main;
  /* grid-column: 2 / 4; */
}
section div:nth-child(5) {
  background-color: blue;
  grid-area: footer;
  /* grid-column: 1 / 5; */
  /* grid-row: 3 / 4; */
}
section div:nth-child(6) {
  background-color: indigo;
  grid-area: nav;
}
