* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
}

section {
  width: 100%;
  height: 100%;
  background-color: antiquewhite;
}

@media screen and (min-width: 480px) {
  section {
    background-color: yellow;
  }
}

section div {
  font-size: 2rem;
  color: white;
  font-weight: bold;
  display: grid;
  place-items: center;
  background-color: red;
  width: 200px;
  height: 200px;
  animation: rotation 3s ease infinite;
  /* transition: all 3s ease; */
  /* transform: translate(100px, 100px) rotate(360deg); */
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    background-color: burlywood;
  }
}
