@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
:root {
  --yellow: #f4d04e;
  --gray-950: #111111;
  --gray-500: #6b6b6b;
  --white: #ffffff;
  --font-family: "Figtree", sans-serif;
  --font-small: 14px;
  --font-normal: 16px;
  --font-medium: 24px;
  --space-small: 4px;
  --space-normal: 8px;
  --space-medium: 12px;
  --space-large: 24px;
}

* {
  font-family: var(--font-family);
  box-sizing: border-box;
}

body {
  background-color: var(--yellow);
  margin: 0;
  padding: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
}

#card-container {
  background-color: var(--white);
  border-radius: var(--space-large);
  padding: var(--space-large);
  width: 384px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: var(--space-medium) var(--space-medium) 0 var(--gray-950);
}

#card-tag {
  background-color: var(--yellow);
  padding: var(--space-small) var(--space-normal);
  border-radius: var(--space-small);
  width: fit-content;
}

#card-tag,
#card-title,
#card-published {
  color: var(--gray-950);
}

#card-content {
  color: var(--gray-500);
  font-size: var(--font-small);
}

#card-footer {
  display: inline-block;
}

#card-footer span {
  color: var(--grey-950);
  font-size: var(--font-normal);
  font-weight: bold;
  margin-left: var(--space-normal);
  vertical-align: super;
}
